/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.page-container{
    /*background-color:gray;*/
    height:calc(100vh - 73px);
}
.row{
    padding:0 0 0 0;
    margin: 0 0 0 0;
}
.preview-container {
  /*background-color: green;*/
  height: 100%;
  padding:20px 20px;
}
.config-container {
  direction:rtl;
  /*background-color: red;*/
  height: 100%;
  padding: 20px 20px;
}

.cv-page {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px black;
}

.write-page{
    height:100%;
    background-color:white;
}
