
<div class="row page-container">
  <div class="col-6">
    <div class="config-container">
      <div class="write-page">

        <form [formGroup]="form" (ngSubmit)="save(form)">

          <mat-form-field class="example-form-field">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="fName" [errorStateMatcher]="matcher">
            <button *ngIf="form.controls.fName.value != ''
                    " matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear('fName')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.fName.errors?.hasOwnProperty('minlength')">
              Plaese enter more than 2 alphabetic characters
            </mat-error>
            <mat-error *ngIf="form.controls.fName.errors?.hasOwnProperty('pattern')">
              Plaese enter only alphabetic characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lName" [errorStateMatcher]="matcher">
            <button *ngIf="form.controls.lName.value != ''
                    " matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear('lName')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.lName.errors?.hasOwnProperty('minlength')">
              Plaese enter more than 2 alphabetic characters
            </mat-error>
            <mat-error *ngIf="form.controls.lName.errors?.hasOwnProperty('pattern')">
              Plaese enter only alphabetic characters
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="mail" [errorStateMatcher]="matcher">
            <button *ngIf="form.controls.mail.value != ''
                    " matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear('mail')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.status == 'INVALID'">
              Plaese enter a valid mail
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>LinkedIn</mat-label>
            <input matInput type="text" formControlName="linkedIn" [errorStateMatcher]="matcher">
            <button *ngIf="form.controls.linkedIn.value != ''
                    " matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear('linkedIn')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="phoneNumber" [errorStateMatcher]="matcher">
            <button *ngIf="form.controls.phoneNumber.value != ''
                    " matSuffix mat-icon-button aria-label="Clear"
                    (click)="clear('phoneNumber')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.phoneNumber.errors?.hasOwnProperty('minlength')">
              Plaese enter 10 digits
            </mat-error>
            <mat-error *ngIf="form.controls.phoneNumber.errors?.hasOwnProperty('pattern')">
              Plaese enter numbers only
            </mat-error>
          </mat-form-field>
          <br />

          <mat-form-field class="example-form-field">
            <mat-label>Choose your BirthDay</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="age" (dateChange)="calculateAge($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>            
          </mat-form-field>

          <br />

          <button id="submitButton" mat-raised-button type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="preview-container">
      <div class="cv-page">
        <p id="name">{{form.controls.fName.value}} {{form.controls.lName.value}}</p>
        <p id="email">
          <mat-icon id="icon" aria-hidden="false" aria-label="Example home icon">email</mat-icon>
          {{form.controls.mail.value}}
        </p>
        <p id="LinkedIn">
          <mat-icon id="icon" aria-hidden="false" aria-label="Example home icon">link</mat-icon>
          {{form.controls.linkedIn.value}}
        </p>
        <p id="phone_number">
          <mat-icon id="icon" aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
          {{form.controls.phoneNumber.value}}
        </p>
        <p id="age">
          {{form.controls.age.value}}
        </p>
      </div>
    </div>
  </div>

</div>


